apiVersion: v1
kind: Service
metadata:
  name: file-service
  namespace: chronoflow
  labels:
    app: file-service
spec:
  type: ClusterIP
  ports:
    - port: 8085
      targetPort: 8085
      protocol: TCP
      name: http
  selector:
    app: file-service
