apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: chronoflow
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
    - port: 8086
      targetPort: 8086
      protocol: TCP
      name: http
  selector:
    app: notification-service
