apiVersion: v1
kind: Service
metadata:
  name: nacos-headless
  namespace: chronoflow
  labels:
    app: nacos
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 8848
      name: client
      targetPort: 8848
    - port: 9848
      name: client-rpc
      targetPort: 9848
    - port: 9849
      name: raft-rpc
      targetPort: 9849
    - port: 7848
      name: old-raft-rpc
      targetPort: 7848
  selector:
    app: nacos
---
apiVersion: v1
kind: Service
metadata:
  name: nacos
  namespace: chronoflow
  labels:
    app: nacos
spec:
  type: ClusterIP
  ports:
    - port: 8848
      name: http
      targetPort: 8848
      protocol: TCP
    - port: 9848
      name: grpc
      targetPort: 9848
      protocol: TCP
  selector:
    app: nacos
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nacos-cm
  namespace: chronoflow
data:
  mysql.host: "10.136.0.5"
  mysql.db.name: "nacos"
  mysql.port: "3306"
  mysql.user: "root"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nacos
  namespace: chronoflow
spec:
  serviceName: nacos-headless
  replicas: 2  # 集群建议 3 个节点
  selector:
    matchLabels:
      app: nacos
  template:
    metadata:
      labels:
        app: nacos
    spec:
      containers:
        - name: nacos
          image: nacos/nacos-server:v2.4.2
          ports:
            - containerPort: 8848
              name: client
            - containerPort: 9848
              name: client-rpc
            - containerPort: 9849
              name: raft-rpc
            - containerPort: 7848
              name: old-raft-rpc
          env:
            - name: SPRING_DATASOURCE_PLATFORM
              value: "mysql"
            - name: MODE
              value: "cluster"
            - name: NACOS_REPLICAS
              value: "3"
            - name: NACOS_SERVERS
              value: "nacos-0.nacos-headless.chronoflow.svc.cluster.local:8848 nacos-1.nacos-headless.chronoflow.svc.cluster.local:8848 nacos-2.nacos-headless.chronoflow.svc.cluster.local:8848"
            - name: MYSQL_SERVICE_HOST
              valueFrom:
                configMapKeyRef:
                  name: nacos-cm
                  key: mysql.host
            - name: MYSQL_SERVICE_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: nacos-cm
                  key: mysql.db.name
            - name: MYSQL_SERVICE_PORT
              valueFrom:
                configMapKeyRef:
                  name: nacos-cm
                  key: mysql.port
            - name: MYSQL_SERVICE_USER
              valueFrom:
                configMapKeyRef:
                  name: nacos-cm
                  key: mysql.user
            - name: MYSQL_SERVICE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nacos-mysql
                  key: password
            - name: NACOS_SERVER_PORT
              value: "8848"
            - name: NACOS_APPLICATION_PORT
              value: "8848"
            - name: PREFER_HOST_MODE
              value: "hostname"
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "800m"