apiVersion: v1
kind: Service
metadata:
  name: event-service
  namespace: chronoflow
  labels:
    app: event-service
spec:
  type: ClusterIP
  ports:
    - port: 8082
      targetPort: 8082
      protocol: TCP
      name: http
  selector:
    app: event-service
