apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: chronoflow
  labels:
    app: gateway
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: gateway
