apiVersion: v1
kind: Service
metadata:
  name: task-service
  namespace: chronoflow
  labels:
    app: task-service
spec:
  type: ClusterIP
  ports:
    - port: 8083
      targetPort: 8083
      protocol: TCP
      name: http
  selector:
    app: task-service
