apiVersion: v1
kind: Service
metadata:
  name: wsgateway
  namespace: chronoflow
  labels:
    app: wsgateway
spec:
  type: ClusterIP
  ports:
    - port: 8087
      targetPort: 8087
      protocol: TCP
      name: http
  selector:
    app: wsgateway
