apiVersion: v1
kind: Service
metadata:
  name: attendee-service
  namespace: chronoflow
  labels:
    app: attendee-service
spec:
  type: ClusterIP
  ports:
    - port: 8084
      targetPort: 8084
      protocol: TCP
      name: http
  selector:
    app: attendee-service
